@charset "UTF-8";


	.blicd{
		display: none;
	} 
	.lel_all, .lel_one{  /* 대상이 다르면 ,로 구분. 그냥 공백은 후손(선택자)이라는뜻이라서 안됨 */
		padding-left: 20px;
		background-image: url(../../resources/images/uncheck.png);
		background-size : 18px 18px;
		background-repeat : no-repeat;
	}
	.lel_checked {
	background-image: url(../../resources/images/check.png);
	}